<a href="https://colab.research.google.com/github/Colejoby/DW/blob/master/hello.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hello Dude!
## How to A
### Shifit is missing
This is what the hack

In [1]:
print("Hello dude")

Hello dude

#Declare Variable
###how to declare variable in PyThon

In [8]:
score = 100
name = "Jirawat"
print(" Name is " + name + " score is "+ str(score))

 Name is Jirawat score is 100

In [7]:
a = 2
b = 3
c = a * b
print(c)

6

#List
###How to use list PyThon

In [15]:
mylist = []
mylist.append("Jirawat")
mylist.append(200)
mylist

['Jirawat', 200]

##How to count data in list

In [16]:
len(mylist)

2

#If-Else PyThon
###How to use if-else in python

In [25]:
if mylist[1] > 100:
 print("Pass")

Pass

In [26]:
if mylist[1] > 100:
  name = mylist[0]
  score = mylist[1]
  print(name+" "+str(score))

Jirawat 200

In [27]:
score = 5 
if score > 50:
  print("A")
elif score > 20:
  print("B")
else:
  print("C")
  if score ==0:
    print("F")

C

#For Loop in PyThon
###How to use for loop

In [45]:
summation = 0
for i in range(0,10):
  print(str(i))
  summation = summation + 1
print(("The summation result is ")+ str(summation))

0
1
2
3
4
5
6
7
8
9
The summation result is 10

In [42]:
summation = []
a = 0
for i in range(0,10):
  a = a + 5
  summation.append(a)
for i in summation:
  print(str(i))

5
10
15
20
25
30
35
40
45
50

#For=Each Loop

In [41]:
for i in summation:
  print(str(i))

0
1
2
3
4
5
6
7
8
9