<a href="https://colab.research.google.com/github/Colejoby/DW/blob/master/random%20forest.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

1. Data Gathering

In [160]:
df = pd.read_csv('https://raw.githubusercontent.com/plenoi/Clinic/master/ultima_all_clean.csv')
df = df.set_index('hn')
df.head()

         age  parity  hiv  menopaus  ...  vgmet  pelvicme  pmmet  adnmet
hn                                   ...
2631840   52       3  0.0       0.0  ...    0.0       0.0    0.0     0.0
2633481   32       2  0.0       0.0  ...    0.0       1.0    0.0     2.0
2634477   52       2  0.0       0.0  ...    0.0       0.0    0.0     0.0
2633633   38       2  0.0       0.0  ...    0.0       0.0    0.0     2.0
2630496   55       3  0.0       1.0  ...    0.0       1.0    0.0     0.0

[5 rows x 23 columns]

2. Data Pre-Processing

In [161]:
df.isnull().sum(axis=0)

age             0
parity          0
hiv             4
menopaus        1
disease         0
surgery         0
conization      5
OPDsize        17
appearance    101
stage          24
pchemo          1
Wardsize      145
finalhisto     10
nodeyiel       12
RHlvsi        366
depth         489
size          114
utmet          98
vgmargin       96
vgmet          97
pelvicme        1
pmmet          94
adnmet          7
dtype: int64

In [0]:
df_clean_column = df.drop(['appearance','Wardsize','RHlvsi','depth','nodeyiel','vgmargin','pelvicme','adnmet'],axis = 1)

Remove Row with Missing Value

In [0]:
df_clean = df_clean_column.dropna(axis = 0)

Check Total Final Data

In [164]:
df_clean.shape

(1555, 15)

Define Class

In [0]:
y = df_clean['pmmet'].values
X = df_clean.drop(['pmmet'],axis = 1).values

Check number of sample for each Class

In [166]:
allclass = np.unique(y)
allclassnumber = [sum(y==eachclass) for eachclass in allclass]
allclassnumber

[1278, 277]

Imbalance Problem !!

In [167]:
from imblearn.over_sampling import SMOTE
sm = SMOTE(random_state=1)
X_res, y_res = sm.fit_resample(X, y)

allclass = np.unique(y_res)
allclassnumber = [sum(y_res==eachclass) for eachclass in allclass]
allclassnumber

[1278, 1278]

Train-Test Split

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_res, y_res, test_size=0.2, random_state=1)

Train-Val Split

In [0]:
X_train, X_val, y_train, y_val = train_test_split(X_train, y_train, test_size=0.2, random_state=1)

Normalization

In [0]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0, 1))
scaler.fit(X_train)
X_train_norm =  scaler.transform(X_train)
X_val_norm = scaler.transform(X_val)
X_test_norm = scaler.transform(X_test)

3. Choose Model

In [187]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=500, max_depth=10,random_state=0,min_samples_leaf=1,max_features='sqrt',criterion='gini')
clf.fit(X_train_norm,y_train)

y_predict = clf.predict(X_test_norm)
print("Test accuracy : "+str(sum(y_test == y_predict)/len(y_test)*100))

Test accuracy : 87.6953125

In [188]:
clf.fit(X_train_norm,y_train)
y_predict = clf.predict(X_val_norm)
sum(y_predict==y_val) / len(y_val)

0.8997555012224939